*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: 'Arcade Interlaced';
    src: url('ARCADE_I.TTF');
}

body {
    height: 100vh;
    color: aquamarine;
    /* background-color: black; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(citybg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#indexTitle {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-family: 'Arcade Interlaced';
    font-size: 7vw;
    font-weight: lighter;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #ad00e6, 0 0 50px #9200e6;
}

#flavorText {
    font-family: 'Arcade Interlaced';
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: lighter;
}

nav {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 2px solid aquamarine;
    border-bottom: 2px solid aquamarine;
    margin-bottom: 30px;
}

.navBar {
    padding-right: 5px;
    padding-left: 5px;
}

#index {
    list-style-type: none;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    max-width: 100%;
}

.indexImg {
    max-width: 500px;
    max-height: 200px;
}

.indexImg:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
}

#showTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.3vw;
    font-family: 'Arcade Interlaced';
    font-weight: lighter;
    max-width: 100%;
}

#showImg {
    max-width: 30vw;
    max-height: 30vw;
}

#showMain {
    text-align: center;
}

#platform {
    text-align: center;
    font-size: 40px;
}

#infoDiv {
    display: flex;
    justify-content: center;
}

#info {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 50vw;
}

#qty {
    text-align: center;
    font-weight: bolder;
}

#delete {
    text-align: end;
}

#deleteBtn {
    color: white;
    background-color: red;
}

#deleteBtn:hover {
    cursor: pointer;
    background-color: darkred;
    box-shadow: 2px 2px;
    transition: 0.5s ease-in-out;
}

.navi {
    background-image: radial-gradient(100% 100% at 100% 0, pink 0, hotpink 100%);
}

.navi:hover {
    cursor: pointer;
    background: orangered;
    box-shadow: 2px 2px;
    transition: 0.5s ease-in-out;
}

input[type="submit"] {
    font-weight: bolder;
    border: 0px;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    align-items: center;
    appearance: none;
    display: inline-flex;
    height: 35px;
    justify-content: center;
    line-height: 1;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    font-size: 16px;
}

#formTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.3vw;
    font-family: 'Arcade Interlaced';
    font-weight: lighter;
    max-width: 100%;
}

.formContainer {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    background: gray;
  }

label {
    font-weight: bolder;
    display: block;
  }

input[type="text"] {
    width: 300%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px aquamarine;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

input[type="number"] {
    width: 300%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px aquamarine;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

textarea {
    width: 300%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px aquamarine;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

input:focus {
    outline: 0;
    border: 1px solid hotpink;
  }

textarea:focus {
    outline: 0;
    border: 1px solid hotpink;
  }

#enterBtn {
    text-align: center;
}

.mainBtn {
    background-image: radial-gradient(100% 100% at 100% 0, pink 0, hotpink 100%);
    font-size: 50vw;
}

.mainBtn:hover {
    cursor: pointer;
    background: orangered;
    box-shadow: 2px 2px;
    transition: 0.5s ease-in-out;
}