<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Collarchive</title>
</head>
<body>
    <header><h1 id="formTitle">New Item</h1></header>
    <nav>
        <form action="/collection">
            <input class="navi" type="submit" value="HOME" />
          </form>
    </nav>
    <div class="formContainer">
    <form action="/collection" method="POST">
        <label for="name">TITLE:</label>
        <input type="text" name="name" placeholder="Game Title" />
        <br />
        <label for="img">IMAGE LINK:</label>
        <input type="text" name="img" placeholder="Link to Boxart Image" />
        <br />
        <label for="platform">PLATFORM:</label>
        <input type="text" name="platform" placeholder="Platform" />
        <br />
        <label for="qty">QUANTITY OWNED:</label>
        <input type="number" name="qty" placeholder="Enter a Number"/>
        <br />
        <label for="description">DESCRIPTION:</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Description of Game"></textarea>
        <br />
        <input class="navi" type="submit" value="Add to Collection" />
    </form>
    </div>
</body>
</html>